USE [master]
GO
/****** Object:  Database [bus_server_prod]    Script Date: 12/8/2024 4:53:40 PM ******/
CREATE DATABASE [bus_server_prod]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bus_server_prod', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bus_server_prod.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bus_server_prod_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bus_server_prod_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bus_server_prod].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bus_server_prod]
GO
/****** Object:  Table [dbo].[Buses]    Script Date: 12/8/2024 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buses](
	[LicensePlate] [varchar](20) NOT NULL,
	[NumberOfSeat] [int] NOT NULL,
	[NumberOfSeatLeft] [int] NOT NULL,
	[DriverId] [int] NULL,
	[BusStatusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LicensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusStatus]    Script Date: 12/8/2024 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusStatus](
	[BusStatusId] [int] NOT NULL,
	[BusStatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BusStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 12/8/2024 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[SeatID] [varchar](10) NOT NULL,
	[LicensePlate] [varchar](20) NOT NULL,
	[UserID] [int] NULL,
	[SeatStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC,
	[LicensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 12/8/2024 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketId] [int] NOT NULL,
	[UserId] [int] NULL,
	[NumberOfTicket] [int] NULL,
	[TypeOfTicket] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__Ticket__712CC607B2F28ED6] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketType]    Script Date: 12/8/2024 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketType](
	[TicketTypeId] [int] NOT NULL,
	[TicketTypeName] [varchar](100) NULL,
	[StandardTicketPrice] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trips]    Script Date: 12/8/2024 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trips](
	[TripId] [int] NOT NULL,
	[TripName] [nvarchar](100) NOT NULL,
	[DepartLocation] [nvarchar](100) NOT NULL,
	[ArriveLocation] [nvarchar](100) NOT NULL,
	[DepartTime] [smalldatetime] NOT NULL,
	[TripStatusId] [int] NOT NULL,
	[BusLicensePlate] [varchar](20) NOT NULL,
	[TripPrice] [decimal](19, 0) NULL,
 CONSTRAINT [PK__Trips__51DC713E94512816] PRIMARY KEY CLUSTERED 
(
	[TripId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TripStatus]    Script Date: 12/8/2024 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripStatus](
	[TripStatusId] [int] NOT NULL,
	[TripStatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TripStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 12/8/2024 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleId] [int] NOT NULL,
	[UserRoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/8/2024 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserPwd] [varchar](50) NOT NULL,
	[UserFullName] [nvarchar](100) NULL,
	[UserEmail] [varchar](50) NULL,
	[UserRoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Buses] ([LicensePlate], [NumberOfSeat], [NumberOfSeatLeft], [DriverId], [BusStatusId]) VALUES (N'ABC-123', 30, 10, 121, 1)
INSERT [dbo].[Buses] ([LicensePlate], [NumberOfSeat], [NumberOfSeatLeft], [DriverId], [BusStatusId]) VALUES (N'ABD-234', 30, 15, 130, 1)
INSERT [dbo].[Buses] ([LicensePlate], [NumberOfSeat], [NumberOfSeatLeft], [DriverId], [BusStatusId]) VALUES (N'ACD-145', 30, 0, 150, 0)
GO
INSERT [dbo].[BusStatus] ([BusStatusId], [BusStatusName]) VALUES (0, N'NotAvailable')
INSERT [dbo].[BusStatus] ([BusStatusId], [BusStatusName]) VALUES (1, N'Available')
GO
INSERT [dbo].[Seats] ([SeatID], [LicensePlate], [UserID], [SeatStatus]) VALUES (N'A1', N'ABC-123', 1, 0)
INSERT [dbo].[Seats] ([SeatID], [LicensePlate], [UserID], [SeatStatus]) VALUES (N'A10', N'ABC-123', 1, 0)
INSERT [dbo].[Seats] ([SeatID], [LicensePlate], [UserID], [SeatStatus]) VALUES (N'A2', N'ABC-123', 1, 0)
GO
INSERT [dbo].[Trips] ([TripId], [TripName], [DepartLocation], [ArriveLocation], [DepartTime], [TripStatusId], [BusLicensePlate], [TripPrice]) VALUES (1, N'Hà Nội - TP.HCM', N'Hà Nội', N'TP.HCM', CAST(N'2024-12-18T17:00:00' AS SmallDateTime), 1, N'ABC-123', CAST(500000 AS Decimal(19, 0)))
INSERT [dbo].[Trips] ([TripId], [TripName], [DepartLocation], [ArriveLocation], [DepartTime], [TripStatusId], [BusLicensePlate], [TripPrice]) VALUES (2, N'Hà Nội - TP.HCM', N'Hà Nội', N'TP.HCM', CAST(N'2024-12-20T19:00:00' AS SmallDateTime), 1, N'ACD-145', CAST(500000 AS Decimal(19, 0)))
INSERT [dbo].[Trips] ([TripId], [TripName], [DepartLocation], [ArriveLocation], [DepartTime], [TripStatusId], [BusLicensePlate], [TripPrice]) VALUES (3, N'TP.HCM - Hà Nội', N'TP.HCM', N'Hà Nội', CAST(N'2024-12-24T20:00:00' AS SmallDateTime), 1, N'BCD-134', CAST(500000 AS Decimal(19, 0)))
GO
INSERT [dbo].[TripStatus] ([TripStatusId], [TripStatusName]) VALUES (0, N'NotAvailable')
INSERT [dbo].[TripStatus] ([TripStatusId], [TripStatusName]) VALUES (1, N'Available')
GO
INSERT [dbo].[UserRoles] ([UserRoleId], [UserRoleName]) VALUES (1, N'Customer')
INSERT [dbo].[UserRoles] ([UserRoleId], [UserRoleName]) VALUES (2, N'VipCustomer')
INSERT [dbo].[UserRoles] ([UserRoleId], [UserRoleName]) VALUES (3, N'Driver')
GO
INSERT [dbo].[Users] ([UserId], [UserName], [UserPwd], [UserFullName], [UserEmail], [UserRoleId]) VALUES (1, N'CustomerUsr1', N'CustomerPwd1', N'CustomerName1', N'CustomerGmail1@gmail.com', 1)
INSERT [dbo].[Users] ([UserId], [UserName], [UserPwd], [UserFullName], [UserEmail], [UserRoleId]) VALUES (2, N'CustomerUsr2', N'CustomerPwd2', N'CustomerName2', N'CustomerGmail2@gmail.com', 1)
INSERT [dbo].[Users] ([UserId], [UserName], [UserPwd], [UserFullName], [UserEmail], [UserRoleId]) VALUES (3, N'CustomerUsr3', N'CustomerPwd3', N'CustomerName3', N'CustomerGmail3@gmail.com', 1)
GO
ALTER TABLE [dbo].[Buses] ADD  DEFAULT ((30)) FOR [NumberOfSeat]
GO
ALTER TABLE [dbo].[Buses] ADD  DEFAULT ((1)) FOR [BusStatusId]
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT ((1)) FOR [SeatStatus]
GO
ALTER TABLE [dbo].[Trips] ADD  CONSTRAINT [DF__Trips__TripStatu__4AB81AF0]  DEFAULT ((1)) FOR [TripStatusId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [UserRoleId]
GO
ALTER TABLE [dbo].[Buses]  WITH CHECK ADD  CONSTRAINT [FK_BusStatusId] FOREIGN KEY([BusStatusId])
REFERENCES [dbo].[BusStatus] ([BusStatusId])
GO
ALTER TABLE [dbo].[Buses] CHECK CONSTRAINT [FK_BusStatusId]
GO
ALTER TABLE [dbo].[Buses]  WITH CHECK ADD  CONSTRAINT [FK_DriverId] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Buses] CHECK CONSTRAINT [FK_DriverId]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([LicensePlate])
REFERENCES [dbo].[Buses] ([LicensePlate])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD  CONSTRAINT [FK_BusLicensePlate] FOREIGN KEY([BusLicensePlate])
REFERENCES [dbo].[Buses] ([LicensePlate])
GO
ALTER TABLE [dbo].[Trips] CHECK CONSTRAINT [FK_BusLicensePlate]
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD  CONSTRAINT [FK_TripStatus] FOREIGN KEY([TripStatusId])
REFERENCES [dbo].[TripStatus] ([TripStatusId])
GO
ALTER TABLE [dbo].[Trips] CHECK CONSTRAINT [FK_TripStatus]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleId] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRoles] ([UserRoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_UserRoleId]
GO
ALTER TABLE [dbo].[Buses]  WITH CHECK ADD CHECK  (([NumberOfSeat]>(0)))
GO
ALTER TABLE [dbo].[Buses]  WITH CHECK ADD  CONSTRAINT [CK_NumberOfSeatLeft] CHECK  (([NumberOfSeatLeft]>=(0) AND [NumberOfSeatLeft]<=[NumberOfSeat]))
GO
ALTER TABLE [dbo].[Buses] CHECK CONSTRAINT [CK_NumberOfSeatLeft]
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD  CONSTRAINT [CK__Trips__DepartTim__49C3F6B7] CHECK  (([DepartTime]>getdate()))
GO
ALTER TABLE [dbo].[Trips] CHECK CONSTRAINT [CK__Trips__DepartTim__49C3F6B7]
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD  CONSTRAINT [CK_ArriveLocation] CHECK  (([DepartLocation]<>[ArriveLocation]))
GO
ALTER TABLE [dbo].[Trips] CHECK CONSTRAINT [CK_ArriveLocation]
GO
/****** Object:  StoredProcedure [dbo].[AddSeats]    Script Date: 12/8/2024 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSeats] @userid int, @tripid int, @plate varchar(20), @seatid varchar(10)
AS
BEGIN
	update Seats Set UserID = @userid, SeatStatus = 0 where SeatID = @seatid and LicensePlate = @plate
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTrip]    Script Date: 12/8/2024 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTrip](@depart NVARCHAR(50), @arrive NVARCHAR(50), @departdate SMALLDATETIME) AS 
		SELECT TripId, TripName, DepartLocation, ArriveLocation, DepartTime,TripStatusId,BusLicensePlate,TripPrice FROM 
			(
				SELECT * FROM Trips WHERE DepartLocation = @depart AND ArriveLocation = @arrive AND DepartTime = @departdate
					AND TripStatusId=1
			)
        AS AllTrips
		INNER JOIN Buses ON AllTrips.BusLicensePlate = Buses.LicensePlate
GO
/****** Object:  StoredProcedure [dbo].[GetTripR]    Script Date: 12/8/2024 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTripR](@depart NVARCHAR(50), @arrive NVARCHAR(50), @departdate SMALLDATETIME, @returndate SMALLDATETIME) AS 
	SELECT TripId, TripName, DepartLocation, ArriveLocation, DepartTime,TripStatusId,BusLicensePlate,TripPrice FROM 
	(
		SELECT * FROM Trips WHERE DepartLocation = @depart AND ArriveLocation = @arrive AND DepartTime = @departdate AND TripStatusId = 1
		UNION
		SELECT * FROM Trips WHERE DepartLocation = @arrive AND ArriveLocation = @depart AND DepartTime = @returndate AND TripStatusId = 1
	) AS AllTrips
    INNER JOIN Buses ON AllTrips.BusLicensePlate = Buses.LicensePlate
GO
/****** Object:  StoredProcedure [dbo].[GetUnavailableSeat]    Script Date: 12/8/2024 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetUnavailableSeat] @plate varchar(20)
as begin Select SeatID from Seats where SeatStatus = 0 AND LicensePlate = @plate end;
GO
/****** Object:  StoredProcedure [dbo].[GetUserInfo]    Script Date: 12/8/2024 4:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserInfo](@usr NVARCHAR(50), @pwd NVARCHAR(50))
AS SELECT * FROM Users WHERE UserName = @usr AND UserPwd = @pwd
GO
USE [master]
GO
